.lock-wscript
*.dylib
*.so
*.o
*.lo
*.Makefile
*.target.gyp.mk
stage
lib/binding
build
out
Release
Debug
node_modules
.deps
Makefile.gyp
gyp-mac-tool
.dirstamp
npm-debug.log
test/support/big.db
lib/node_sqlite3.node
test/tmp
.DS_Store