.DS_Store
.lock-wscript
build/
TODO
wiki
lib/sqlite3_bindings.node
test/support/big.db
test/tmp
deps/sqlite-autoconf-3070800
deps/sqlite3
lib/node_sqlite3.*
node_extension.props
node-sqlite3.sdf
node-sqlite3.vcxproj.filters
node-sqlite3.vcxproj.user