*.dylib
*.so
*.o
*.lo
*.Makefile
*.target.gyp.mk
lib/binding
build
out
Release
Debug
node_modules
.deps
Makefile.gyp
gyp-mac-tool
.dirstamp
npm-debug.log
test/support/big.db
test/tmp
test/nw/app.nw
.DS_Store