.dockerignore
.gitignore
.github
.npmignore
node_modules
lib/binding
build
build-tmp-napi-*
Dockerfile
test
benchmark
configure
Makefile
scripts
.travis.yml
examples
.dtps
local.env
.mason
.eslintrc.js
setup.sh
renovate.json
appveyor.yml
.vscode
tools/
*.tgz