language: node_js

node_js:
 - "0.11.3" # process.versions.modules 12
 - "0.10"
 - "0.8"
 - "0.6"

install:
 - npm install
 - npm install mocha
 - npm test

before_script: "make clean"

script:
 - npm install --stage
 - npm test
