environment:
  node_pre_gyp_accessKeyId:
    secure: 7DrSVc5eIGtmMcki5H+iRft+Tk3MJTwDBQEUuJHWaQ4=
  node_pre_gyp_secretAccessKey:
    secure: 1amwJJw9fu0j6dXnc5KsAQbSYf7Cjw/dapT6OZWABa6nc52grkKeLQ+DGaOfQz8i
  matrix:
    - nodejs_version: 0.10.30
      nw_version: 0.8.6
      PLATFORM: x86
    - nodejs_version: 0.10.30
      nw_version: 0.8.6
      PLATFORM: x64
    - nodejs_version: 0.11.13
      nw_version: 0.10.2
      PLATFORM: x86
    - nodejs_version: 0.11.13
      nw_version: 0.10.2
      PLATFORM: x64

install:
  - ps: Update-NodeJsInstallation $env:nodejs_version $env:Platform
  - node --version
  - npm --version
  - echo %PLATFORM%
  - SET PATH=c:\python27;%PATH%
  - SET PATH=C:\Program Files (x86)\MSBuild\12.0\bin\;%PATH%
  - SET PATH=%APPDATA%\npm;%PATH%
  # add local node-pre-gyp dir to path
  - SET PATH=node_modules\.bin;%PATH%
  # # work around old npm problem with ^
  - npm update npm -g
  - npm --version
  # upgrade node-gyp to support --msvs_version=2013
  - npm install node-gyp
  - npm install --build-from-source  --msvs_version=2013
  - npm test
  - node-pre-gyp package
  # make commit message env var shorter
  - SET CM=%APPVEYOR_REPO_COMMIT_MESSAGE%
  - if not "%CM%" == "%CM:[publish binary]=%" node-pre-gyp --msvs_version=2013 publish
  - call scripts\build_for_node_webkit.cmd %PLATFORM%

build: OFF
test: OFF
deploy: OFF
